.tool-selector {
  text-align: center;
}

.tool-selector__tool {
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid $accent-color;
  color: $accent-color;
  transition: all 200ms;
}

.tool-selector__tool:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}

.tool-selector__tool:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tool-selector__tool:hover,
.tool-selector__tool--active {
  background-color: color($accent-color l(+5%));
  color: white;
  cursor: pointer;;
}
