.board-tile {
  position: relative;
  float: left;
  border: 1px solid $accent-color;
  transition: all, 200ms;
}

.game-board--highlight .board-tile:hover,
.board-tile--highlighted {
  background-color: color($accent-color l(+10%));
}

.game-board--block .board-tile:hover,
.board-tile--blocked {
  background-color: #e6e6e6;
}

.app--night-mode .game-board--block .board-tile:hover,
.app--night-mode .board-tile--blocked {
  background-color: #666;
}
