.game-page {
  text-align: center;
}

.game-page:focus {
  outline: none;
}

.game-page__nav {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.game-page__nav::after {
  content: " ";
  display: table;
  clear: both;
}

.back-button {
  position: absolute;
  left: 0;
}

.reset-button {
  float: right;
}
