.puzzle-selector {
  width: 50%;
  margin: 0 auto;
}

.puzzle-selector__puzzle {
  display: inline-block;
  padding: 10px 15px;
  margin: 20px;
  transition: all 200ms;
}

.puzzle-selector__puzzle:hover {
  cursor: pointer;
}
