.settings {

}

.setting {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px 8px;
  margin: 10px;
  border: 1px solid $accent-color;
  border-radius: 15px;
  color: $accent-color;
  transition: all 200ms;
}

.setting:hover {
  cursor: pointer;
  background-color: $accent-color;
  color: white;
}
